@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    text-decoration: none;
    font-family: 'Roboto';
    font-size: 18px;
}

header {
    background: fixed;
    background-image: url("src/assets/volleyball-net.jpg");
    background-position-y: -550px;
}

header > div {
    width: 31,25rem;
}

h1 {
    font-family: 'oswald';
    color: whitesmoke;
    font-size: 110px;
}

nav > a {
    margin: 0 2rem;
    font-family: 'oswald';
    font-size: 30px;
    color: black;
}

main {
    background-color: rgb(255, 249, 249);
    display: grid;
}

section {
    font-size: larger;
}

p {
    text-align: center;
    width: 50rem;
}

button {
    font-family: 'oswald';
    font-size: 30px;
    width: 240px;
    height: 50px;
    border-radius: 25px;
    margin: 40px;
}

footer {
    background-color: #1a1a1a;
    color: white;
}

.centered-container {
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 500px;
}

#ball {
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translateX(-50%);
}

#ball.hover-effect:hover {
    transform: translateX(-50%) scale(1.2);
}

.banner {
    background-repeat: no-repeat;
    background-size: cover;
}

#banner-1 {
    background-image: url("src/assets/volleyball-in-sky.jpg");
    background-position-y: -220px;
}

#banner-2 {
    background-image: url("src/assets/volleyball-on-sand.jpg");
    background-position-y: -110px;
    height: 800px;
}

.hover-effect {
    display: inline-block;
    transition: transform .5s ease;
}

.hover-effect:hover {
    transform: scale(1.2);
}


#img-volleyball-match {
    margin: 50px;
    height: 300px;
    border-radius: 25px;
}
