* {
    margin: 0;
    text-decoration: none;
}

header {
    background: fixed;
    background-image: url("assets/volleyball-net.jpg");
    background-position-y: -550px;
}

header > div {
    width: 31,25rem;
}

h1 {
    font-size: 100px;
    color: whitesmoke;
}

nav > a {
    margin: 0 3rem;
    font-size: 20px;
    color: black;
}

main {
    background-color: rgb(255, 249, 249);
    display: grid;
}

p {
    text-align: center;
    width: 50rem;
}

button {
    width: 240px;
    height: 50px;
    border-radius: 25px;
    border: none;
    margin: 40px;
}

footer {
    background-color: #1a1a1a;
    color: white;
}

.centered-container {
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 550px;
}

#ball {
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translateX(-50%);
}

#ball.hover-effect:hover {
    transform: translateX(-50%) scale(1.2);
}

.banner {
    background-repeat: no-repeat;
    background-size: cover;
}

#banner-1 {
    background-image: url("assets/volleyball-in-sky.jpg");
    background-position-y: -220px;
}

#banner-2 {
    background-image: url("assets/volleyball-on-sand.jpg");
    background-position-y: -200px;
    height: 800px;
}

.hover-effect {
    display: inline-block;
    transition: transform .5s ease;
}

.hover-effect:hover {
    transform: scale(1.2);
}
