h3 {
    font-family: 'oswald';
    font-size: 70px;
}

ul{
    list-style-type: none
}

#athlete-rankings {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
}

.athlete{
    margin: 20px;
    border-radius: 20px;
    background-color: #3eb4f4;
    width: 70vw;
    height: 120px;
}