section p {
    width: 50rem;
}

#banner-1 {
    background-image: url("../assets/images/volleyball-in-sky.jpg");
    background-position-y: -220px;
}

#gallery {
    text-align: justify;
}

#banner-2 {
    background-image: url("../assets/images/volleyball-on-sand.jpg");
    background-position-y: -110px;
    height: 800px;
}

#img-volleyball-match {
    margin: 50px;
    height: 300px;
    border-radius: 25px;
}
